<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://navkrish-test-app.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/b9853b4c-133d-43e6-b0e3-a28eee4c2ea7/resourceGroups/navkrish-Dev/providers/Microsoft.Web/sites/navkrish-test-app</ResourceId>
    <UserName>$navkrish-test-app</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://navkrish-test-app.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>